header {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  padding: 1rem 0;
  width: 100% !important;
  height: 100%;
  z-index: 1;
  background-color: #fff;
  margin-bottom: 30px; }
  header .icon {
    display: none; }
  header .logo-wrapper .logo {
    width: 100px; }
  header nav {
    padding-top: 15px; }
    header nav .navmenu {
      display: flex;
      justify-content: space-around;
      width: 100%; }
      header nav .navmenu .mobile-searchbar {
        display: none; }
      header nav .navmenu .top_menu {
        width: 100%;
        color: #000; }
        header nav .navmenu .top_menu .menu-top-menu-container .menu {
          padding: 0;
          margin: 0; }
          header nav .navmenu .top_menu .menu-top-menu-container .menu #menu-item-116 {
            display: none; }
        @media screen and (min-width: 768px) {
          header nav .navmenu .top_menu .menu-top-menu-container .menu {
            list-style-type: none;
            display: flex;
            justify-content: space-around; }
            header nav .navmenu .top_menu .menu-top-menu-container .menu .menu-item {
              position: relative; }
              header nav .navmenu .top_menu .menu-top-menu-container .menu .menu-item a {
                color: #000; }
              header nav .navmenu .top_menu .menu-top-menu-container .menu .menu-item .sub-menu-link div {
                display: none; }
            header nav .navmenu .top_menu .menu-top-menu-container .menu .menu-item-has-children .sub-menu {
              display: none;
              position: absolute;
              top: 100%;
              left: 0;
              background: white;
              box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
              padding: 10px;
              list-style-type: none; }
              header nav .navmenu .top_menu .menu-top-menu-container .menu .menu-item-has-children .sub-menu li a {
                white-space: nowrap; }
            header nav .navmenu .top_menu .menu-top-menu-container .menu .menu-item-has-children:hover > .sub-menu {
              display: block; } }
  header .wishlist-cart {
    width: 100%;
    margin: 0;
    padding: 0; }
    header .wishlist-cart .sub-menu-link {
      display: none; }

@media screen and (max-width: 768px) {
  header {
    flex-wrap: wrap; }
    header .icon {
      order: 1;
      padding-top: 20px; }
    header .logo-wrapper {
      display: flex;
      justify-content: center;
      order: 2; }
    header nav {
      order: 4;
      display: none; }
      header nav .navmenu {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 100%; }
        header nav .navmenu .mobile-searchbar {
          display: block;
          width: 100%;
          padding: 10px 0 0 0; }
        header nav .navmenu .top_menu {
          display: block;
          width: 100%; }
          header nav .navmenu .top_menu .menu-top-menu-container .menu {
            list-style-type: none;
            display: block; }
          header nav .navmenu .top_menu .menu-top-menu-container .menu-item {
            border-bottom: solid #ddd 1px;
            width: 100%;
            padding: 10px 0; }
            header nav .navmenu .top_menu .menu-top-menu-container .menu-item a {
              width: 100%;
              display: block;
              color: #000;
              text-decoration: none; }
            header nav .navmenu .top_menu .menu-top-menu-container .menu-item .sub-menu-link div {
              display: none; }
          header nav .navmenu .top_menu .menu-top-menu-container .menu-item-has-children {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 100%; }
            header nav .navmenu .top_menu .menu-top-menu-container .menu-item-has-children a:nth-child(1) {
              display: none; }
            header nav .navmenu .top_menu .menu-top-menu-container .menu-item-has-children a {
              width: 90%; }
            header nav .navmenu .top_menu .menu-top-menu-container .menu-item-has-children .sub-menu-link {
              width: 10%;
              cursor: pointer; }
              header nav .navmenu .top_menu .menu-top-menu-container .menu-item-has-children .sub-menu-link div {
                text-align: center;
                display: block;
                border-left: solid #ddd 1px; }
            header nav .navmenu .top_menu .menu-top-menu-container .menu-item-has-children .sub-menu {
              padding: 0;
              margin: 0;
              list-style-type: none;
              width: 100%; }
              header nav .navmenu .top_menu .menu-top-menu-container .menu-item-has-children .sub-menu li {
                border-bottom: none; }
                header nav .navmenu .top_menu .menu-top-menu-container .menu-item-has-children .sub-menu li .sub-menu-link div {
                  display: none; }
        header nav .navmenu .desktop-searchbar {
          display: none; }
    header .wishlist-cart {
      order: 3; }
      header .wishlist-cart .sub-menu-link {
        display: none; } }
.dgwt-wcas-search-wrapp {
  max-width: none !important; }

header .current-menu-item a:nth-child(2) {
  text-decoration: underline !important; }
header .current-menu-item .sub-menu-link {
  text-decoration: none !important; }
header .current-menu-item .sub-menu .menu-item a {
  text-decoration: none !important; }

/*# sourceMappingURL=_header.css.map */
