header {
  box-shadow: 0px 0px 20px rgba(0,0,0,0.25);
  padding: 1rem 0;
  width: 100% !important;
  height: 100%;
  z-index: 1;
  background-color: #fff;
  margin-bottom: 30px;
  .icon {
    display: none;
  }
  .logo-wrapper {
    .logo {
      width: 100px;
    }
  }
  nav {
    padding-top: 15px;
    .navmenu {
      display: flex;
      justify-content: space-around;
      width: 100%;
      .mobile-searchbar {
          display: none;
      }
      .top_menu{
        width: 100%;
        color: #000;
          .menu-top-menu-container {
            .menu {
              padding: 0;
              margin: 0;
              #menu-item-116 {
                display: none;
              }
            }
          }
        @media screen and (min-width: 768px) {
          .menu-top-menu-container {
            .menu {
              list-style-type: none;
              display: flex;
              justify-content: space-around;
              .menu-item {
                position: relative;
                a {
                  color: #000;
                }
                .sub-menu-link {
                  div {
                    display: none;
                  }
                }
              }
              .menu-item-has-children {
                .sub-menu {
                  display: none;
                  position: absolute;
                  top: 100%;
                  left: 0;
                  background: white;
                  box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
                  padding: 10px;
                  list-style-type: none;
                  li {
                    a {
                      white-space:nowrap;
                    }
                  }

                }
              }
              .menu-item-has-children:hover > .sub-menu  {
                display: block;
              }
            }
          }
        }
      }
      .desktop-searchbar {
      }
    }
  }
  .wishlist-cart {
    width: 100%;
    margin: 0;
    padding: 0;
    .sub-menu-link {
      display: none;
    }
  }
}
@media screen and (max-width: 768px) {
  header {
    flex-wrap: wrap;
    .icon {
      order: 1;
      padding-top: 20px;
    }
    .logo-wrapper {
      display: flex;
      justify-content: center;
      order: 2;
    }
    nav {
      order: 4;
      display: none;
      .navmenu {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 100%;
          .mobile-searchbar {
            display: block;
            width: 100%;
            padding: 10px 0 0 0;
          }
          .top_menu {
            display: block;
            width: 100%;
            .menu-top-menu-container {
              .menu {
                list-style-type: none;
                display: block;
              }

              .menu-item {
                border-bottom: solid #ddd 1px;
                width: 100%;
                padding: 10px 0;
                a {
                  width: 100%;
                  display: block;
                  color: #000;
                  text-decoration: none;
                }
                .sub-menu-link {
                  div {
                    display: none;
                  }
                }
              }
              .menu-item-has-children {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                width: 100%;
                a:nth-child(1) {
                  display: none;
                }
                a {
                  width: 90%;
                }
                .sub-menu-link {
                  width: 10%;
                  cursor: pointer;
                  div {
                    text-align: center;
                    display: block;
                    border-left: solid #ddd 1px;
                  }
                }
                .sub-menu {
                  padding: 0;
                  margin: 0;
                  list-style-type: none;
                  width: 100%;
                  li {
                    border-bottom: none;
                    .sub-menu-link {
                      div {
                        display: none;
                      }
                    }
                  }
                }
              }
              //placer her
            }
          }
          .desktop-searchbar {
            display: none;
          }
      }
    }
    .wishlist-cart {
      order: 3;
      .sub-menu-link {
        display: none;
      }
    }
  }
}

.dgwt-wcas-search-wrapp {
  max-width: none !important;
}

header {
  .current-menu-item {
    a:nth-child(2) {
      text-decoration:underline !important;
    }
    .sub-menu-link {
        text-decoration: none !important
    }
    .sub-menu {
      .menu-item {
        a {
          text-decoration: none !important;
        }
      }
    }
  }
}
