.woocommerce-breadcrumb {
  padding: 0 0 0 30px !important; }

.obfx-sharing .obfx-sharing-left {
  display: none !important; }
  .obfx-sharing .obfx-sharing-left li {
    display: none !important; }

.shop-page .shop-produktlist .type-product .onsale {
  width: 50px; }
.shop-page .shop-produktlist .type-product .woocommerce-product-gallery .woocommerce-product-gallery__wrapper .woocommerce-product-gallery__image:nth-child(1) {
  padding: 0 0 30px 0 !important; }
.shop-page .shop-produktlist .type-product .woocommerce-product-gallery .woocommerce-product-gallery__wrapper .woocommerce-product-gallery__image {
  padding: 0 4px; }
.shop-page .shop-produktlist .type-product .woocommerce-tabs #tab-reviews #reviews #comments .commentlist {
  padding: 0; }
.shop-page .shop-sidebar {
  list-style-type: none;
  padding: 0 0 0 15px; }
  .shop-page .shop-sidebar .shop-sidebar-wrapper {
    top: 100px; }
    .shop-page .shop-sidebar .shop-sidebar-wrapper .widget p {
      font-weight: bold; }
    .shop-page .shop-sidebar .shop-sidebar-wrapper .widget .menu-shop-menu-container .menu {
      list-style-type: none;
      display: block;
      padding: 0; }
    .shop-page .shop-sidebar .shop-sidebar-wrapper .widget .menu-shop-menu-container .menu-item {
      border-bottom: solid #ddd 1px;
      width: 100%;
      padding: 10px 0; }
      .shop-page .shop-sidebar .shop-sidebar-wrapper .widget .menu-shop-menu-container .menu-item a {
        width: 100%;
        display: block;
        color: #000;
        text-decoration: none; }
      .shop-page .shop-sidebar .shop-sidebar-wrapper .widget .menu-shop-menu-container .menu-item .sub-menu-link div {
        display: none; }
    .shop-page .shop-sidebar .shop-sidebar-wrapper .widget .menu-shop-menu-container .menu-item-has-children {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%; }
      .shop-page .shop-sidebar .shop-sidebar-wrapper .widget .menu-shop-menu-container .menu-item-has-children a {
        width: 90%; }
      .shop-page .shop-sidebar .shop-sidebar-wrapper .widget .menu-shop-menu-container .menu-item-has-children .sub-menu-link {
        width: 10%;
        cursor: pointer; }
        .shop-page .shop-sidebar .shop-sidebar-wrapper .widget .menu-shop-menu-container .menu-item-has-children .sub-menu-link div {
          text-align: center;
          display: block;
          border-left: solid #ddd 1px; }
      .shop-page .shop-sidebar .shop-sidebar-wrapper .widget .menu-shop-menu-container .menu-item-has-children .sub-menu {
        padding: 0;
        margin: 0;
        list-style-type: none;
        width: 100%;
        display: none; }
        .shop-page .shop-sidebar .shop-sidebar-wrapper .widget .menu-shop-menu-container .menu-item-has-children .sub-menu li {
          border-bottom: none; }
          .shop-page .shop-sidebar .shop-sidebar-wrapper .widget .menu-shop-menu-container .menu-item-has-children .sub-menu li .sub-menu-link div {
            display: none; }
.shop-page .shop-produktlist .woocommerce-ordering .orderby {
  border: 1px solid #ddd; }
@media only screen and (max-width: 533px) {
  .shop-page .shop-produktlist .woocommerce-ordering {
    width: 100%; }
    .shop-page .shop-produktlist .woocommerce-ordering .orderby {
      width: 100%; } }
.shop-page .shop-produktlist .products .product a .woocommerce-loop-product__title {
  padding: 0 0 30px 0; }
.shop-page .shop-produktlist .products .product .button {
  width: 100%;
  text-align: center; }
.shop-page .current-menu-item a:nth-child(1) {
  text-decoration: underline !important; }
.shop-page .current-menu-item .sub-menu-link {
  text-decoration: none !important; }
.shop-page .current-menu-item .sub-menu .menu-item a {
  text-decoration: none !important; }
.shop-page .type-product {
  padding: 0 25% 0 0; }
@media screen and (max-width: 768px) {
  .shop-page .type-product {
    padding: 0 0 0 0; }
    .shop-page .type-product .woocommerce-tabs #tab-reviews #reviews #review_form_wrapper #review_form #respond #commentform .form-submit {
      width: 100%; }
      .shop-page .type-product .woocommerce-tabs #tab-reviews #reviews #review_form_wrapper #review_form #respond #commentform .form-submit #submit {
        width: 100%; }
    .shop-page .type-product .woocommerce-tabs #tab-reviews #reviews #review_form_wrapper #review_form #respond #commentform .comment-form-author label, .shop-page .type-product .woocommerce-tabs #tab-reviews #reviews #review_form_wrapper #review_form #respond #commentform .comment-form-author input, .shop-page .type-product .woocommerce-tabs #tab-reviews #reviews #review_form_wrapper #review_form #respond #commentform .comment-form-email label, .shop-page .type-product .woocommerce-tabs #tab-reviews #reviews #review_form_wrapper #review_form #respond #commentform .comment-form-email input {
      width: 100%; }
    .shop-page .type-product .woocommerce-tabs #tab-reviews #reviews #review_form_wrapper #review_form #respond #commentform .comment-form-cookies-consent {
      display: flex; }
      .shop-page .type-product .woocommerce-tabs #tab-reviews #reviews #review_form_wrapper #review_form #respond #commentform .comment-form-cookies-consent label {
        padding-left: 10px; } }
  @media screen and (max-width: 768px) and (max-width: 540px) {
    .shop-page .type-product .woocommerce-tabs .tabs {
      padding: 0 !important;
      margin: 0;
      border-radius: 0; }
      .shop-page .type-product .woocommerce-tabs .tabs li {
        border-radius: 4px !important;
        width: 100% !important;
        margin: 0 !important;
        padding: 0 0 !important;
        text-align: center !important;
        margin: 0 0 10px 0 !important; }
        .shop-page .type-product .woocommerce-tabs .tabs li a {
          display: block !important;
          width: 100% !important; }
      .shop-page .type-product .woocommerce-tabs .tabs .active {
        border-bottom-color: #d3ced2 !important; } }

.woocommerce .woocommerce-input-wrapper {
  width: 100%;
  display: block; }

/*# sourceMappingURL=_woocommerce.css.map */
